<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/temp.css') }}"/>
</head>

<body class="landing-page">
<header>
    <div class="container header_wrapper">
        <div class="header_components">
            <div class="logo">
                <a href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='icons/logo.svg') }}" alt="logo"/>
                </a>
            </div>

            {% include "layouts/navbar.html" %}

            <div class="burger_menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}


{%include "layouts/footer.html"%}
</body>

{%block script%}
{%endblock%}
</html>
