<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
</head>

<body class="landing-page">
<header>
    <div class="container header_wrapper">
        <div class="header_components">
            <div class="logo">
                <a href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo"/>
                </a>
            </div>

            {% include "layouts/navbar.html" %}

            <div class="burger_menu">
                <div class="burger_menu_dropdown">
                    <nav>
                        <ul>
                            <li>
                                <a href="{{ url_for('main.index') }}"
                                    class="{% if request.endpoint == 'main.index' %}active-header{% endif %}">
                                    მთავარი
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('main.about') }}"
                                    class="{% if request.endpoint == 'main.about' %}active-header{% endif %}">
                                    პროექტის შესახებ
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

{% include "layouts/footer.html" %}
{% block script %}
{% endblock %}
</body>
</html>
