{% extends "admin/base.html" %}
{% import 'admin/layout.html' as layout with context -%}

{% block head_css %}
    {{ super() }}
    <style>
        .list-buttons-column {
            width: 100px !important;
        }

        #filter_form {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            .pull-right {
                margin: 12px 0 20px 0;
                display: block;
            }

            .pull-right:has(.btn-secondary):has(+ .filters:empty) {
                margin-top: 12px;
                margin-bottom: 25px;
            }
        }
    </style>
{% endblock %}
{% block page_body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-collapse"
                aria-controls="admin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            <div class="container">
                {% block main_menu %}
                    <ul class="nav navbar-nav mr-auto">
                        {{ layout.menu() }}
                    </ul>
                {% endblock %}
            </div>

            {% block menu_links %}
                <ul class="nav navbar-nav navbar-right">
                    {{ layout.menu_links() }}
                </ul>
            {% endblock %}

            {% block access_control %}
            {% endblock %}
        </div>
    </nav>
    <div class="container" style="max-width: 1440px;">
        {% block messages %}
            {{ layout.messages() }}
        {% endblock %}

        {# store the jinja2 context for form_rules rendering logic #}
        {% set render_ctx = h.resolve_ctx() %}
        {% block body %}{% endblock %}
    </div>
{% endblock %}
