{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <style>
        .form-control {
            height: 32px;
            border-radius: 8px;
            width: 256px;
            border: 1px solid black;
            padding-left: 12px;
            font-family: "FiraGo400";
        }

        .login-btn {
            border: none !important;
            color: white;
            background-color: #95b48a;
            font-family: "FiraGo400";
            padding: 12px;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: #6e8f65;
            }
        }

    </style>

    <main>
        <section style="display: flex; height: 50vh; justify-content: center; align-items: center" class="container">
            <div>
                {% if error %}
                    <div role="alert">{{ error }}</div>
                {% endif %}

                <div class="form-wrapper">
                    <form method="POST" style="display: flex; gap: 12px; flex-direction: column;">
                        {{ form.hidden_tag() }}
                        {{ form.username(class="form-control", placeholder=form.username.label.text) }}
                        {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                        {{ form.submit(class="login-btn") }}
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}