/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "FiraGO100";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-100-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-100-normal.woff) format("woff");
}
/* firago-latin-200-normal */
@font-face {
  font-family: "FiraGO200";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-200-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-200-normal.woff) format("woff");
}
/* firago-latin-300-normal */
@font-face {
  font-family: "FiraGO300";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-300-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-300-normal.woff) format("woff");
}
/* firago-latin-400-normal */
@font-face {
  font-family: "FiraGO400";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff) format("woff");
}
/* firago-latin-500-normal */
@font-face {
  font-family: "FiraGO500";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-500-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-500-normal.woff) format("woff");
}
/* firago-latin-600-normal */
@font-face {
  font-family: "FiraGO600";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-600-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-600-normal.woff) format("woff");
}
/* firago-latin-700-normal */
@font-face {
  font-family: "FiraGO700";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-700-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-700-normal.woff) format("woff");
}
/* firago-latin-800-normal */
@font-face {
  font-family: "FiraGO800";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-800-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-800-normal.woff) format("woff");
}
/* firago-latin-900-normal */
@font-face {
  font-family: "FiraGO900";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-900-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-900-normal.woff) format("woff");
}
body {
  background-color: #f5f5f5;
  font-family: "FiraGO400", Helvetica, sans-serif !important;
}

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.landing-page main {
  flex: 1;
}

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .container {
    width: 91.67%;
  }
}
@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1264px;
  }
}

.main-content-wrapper {
  max-width: 1680px;
  margin: 0 auto;
  padding-top: 64px;
}
@media (max-width: 1800px) {
  .main-content-wrapper {
    width: 91.67%;
  }
}
@media only screen and (max-width: 1440px) {
  .main-content-wrapper {
    max-width: 1264px;
  }
}
.main-content-wrapper .filter-books-wrapper {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-items: center;
}
@media only screen and (max-width: 1440px) {
  .main-content-wrapper .filter-books-wrapper {
    gap: 131px;
  }
}
.main-content-wrapper .filter-books-wrapper .filter-section {
  max-width: 402px;
  position: relative;
}
@media (max-width: 1040px) {
  .main-content-wrapper .filter-books-wrapper .filter-section {
    display: none;
  }
}
@media only screen and (max-width: 1440px) {
  .main-content-wrapper .filter-books-wrapper .filter-section {
    max-width: 298px;
  }
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container {
  position: relative;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container .search-icon {
  position: absolute;
  padding: 0 12px 0 20px;
  top: 50%;
  transform: translateY(-50%);
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container input[type=text] {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #333333;
  padding: 0 50px;
  font-family: FiraGo400;
  font-size: 20px;
  color: 333333;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container input[type=text]::-moz-placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGO400;
  font-size: 20px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container input[type=text]::placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGO400;
  font-size: 20px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .blue-button {
  width: 100%;
  height: 61px;
  background-color: #0468dc;
  color: #ffffff;
  font-family: "FiraGo400";
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .dropdown-button {
  width: 100%;
  height: 59px;
  border: 2px solid #0468dc;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.2s;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .dropdown-button .dropdown-text {
  color: #0468dc;
  font-size: 24px;
  font-family: FiraGo400;
  transition: color 0.2s;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .dropdown-button.active-btn {
  background-color: #0468dc;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .dropdown-button.active-btn .dropdown-text {
  color: #ffffff;
}
.main-content-wrapper .filter-books-wrapper .filter-section .dropdown-options {
  overflow: hidden;
  height: 0;
  z-index: 10;
  transition: height 0.2s;
  position: absolute;
  background-color: #ffffff;
}
.main-content-wrapper .filter-books-wrapper .filter-section .dropdown-options li {
  padding: 8px 24px;
  color: hsla(240, 6%, 25%, 0.6);
  font-family: FiraGO350;
  font-size: 18px;
  font-weight: 350;
  line-height: normal;
  cursor: pointer;
}
.main-content-wrapper .filter-books-wrapper .filter-section .dropdown-options li:hover {
  background-color: hsl(208, 86%, 92%);
}
.main-content-wrapper .filter-books-wrapper .filter-section .dropdown-options.displayed {
  height: auto;
  width: 100%;
  outline: 2px solid hsla(240, 6%, 25%, 0.6);
  border-radius: 15px;
}
.main-content-wrapper .filter-books-wrapper .clean-filters {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 11px 0 24px;
}
.main-content-wrapper .filter-books-wrapper .clean-filters button {
  display: flex;
  gap: 10px;
  background-color: transparent;
  border: none;
}
.main-content-wrapper .filter-books-wrapper .clean-filters .clean-filters-text {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGo600;
  font-size: 16px;
}
.main-content-wrapper .filter-books-wrapper .dropdownUnderline {
  width: 100%;
  height: 2px;
  background-color: #d8ebfc;
  border-radius: 2px;
}
.main-content-wrapper .filter-books-wrapper .media-type-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper legend {
  color: #333333;
  font-size: 24px;
  font-family: FiraGo700;
  margin-bottom: 16px;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .dropdown {
  display: flex;
  flex-direction: column;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .dropdown label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  font-family: FiraGo400;
  color: #333333;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .dropdown label:not(:last-child) {
  margin-bottom: 15px;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 2px solid rgba(60, 60, 67, 0.3764705882);
  border-radius: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox]:checked::before {
  background-color: #0077ff;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox]:checked {
  background-color: #0077ff;
  border: 2px solid #0077ff;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 14px;
  border: solid #ffffff;
  border-width: 0 2.5px 2.5px 0;
  transform: translate(-40%, -60%) rotate(45deg);
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper img {
  rotate: 270deg;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid rgba(60, 60, 67, 0.6);
  border-radius: 8px;
  max-width: 170px;
  height: 54px;
  padding: 17px 16px;
  cursor: pointer;
  min-width: 102px;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label .calendar-icon {
  margin-right: 10px;
  rotate: 0deg;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label p {
  font-size: 16px;
  font-family: FiraGo400;
  color: rgba(60, 60, 67, 0.6);
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label input[type=date] {
  position: absolute;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  width: 10px;
  cursor: pointer;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label input[type=date]::-webkit-inner-spin-button, .main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label input[type=date]::-webkit-clear-button {
  display: none;
}
.main-content-wrapper .filter-books-wrapper .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
.main-content-wrapper .books-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 32px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media only screen and (max-width: 1670px) {
  .main-content-wrapper .books-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1330px) {
  .main-content-wrapper .books-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 820px) {
  .main-content-wrapper .books-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 1440px) {
  .main-content-wrapper .books-section {
    max-width: 835px;
    -moz-column-gap: 27.5px;
         column-gap: 27.5px;
  }
}
.main-content-wrapper .books-section .card {
  position: relative;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  width: 260px;
  height: 367px;
}
.main-content-wrapper .books-section .card .book-cover {
  border-radius: 10px;
  height: 90%;
}
.main-content-wrapper .books-section .card .book-cover {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content-wrapper .books-section .card .book-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.main-content-wrapper .books-section .card .book-info .book-views {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 15px 12px 0 0;
}
.main-content-wrapper .books-section .card .book-info .book-views p {
  color: #ffffff;
  font-family: FiraGo700;
  font-size: 1rem;
}
.main-content-wrapper .books-section .card .book-info .title-share {
  background-color: white;
  border: 1px solid rgba(60, 60, 67, 0.6);
  padding: 12px 12px 16px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main-content-wrapper .books-section .card .book-info .title-share .title-share-default {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.main-content-wrapper .books-section .card .book-info .title-share .title-share-default h2 {
  line-height: 2;
  font-family: FiraGo600;
  color: #333333;
  font-size: 16px;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-content-wrapper .books-section .card .book-info .title-share .title-share-hover {
  padding-top: 4px;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
.main-content-wrapper .books-section .card .book-info .title-share .title-share-hover p {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGo400;
  font-size: 0.75rem;
  padding: 4px 0 12px;
}
.main-content-wrapper .books-section .card .book-info .title-share .title-share-hover span {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGo400;
  font-size: 0.75rem;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 36px 0 64px;
}
.pagination-container .pagination-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.pagination-container .pagination-wrapper .pagination-numbers {
  display: flex;
  gap: 4px;
}
.pagination-container .pagination-wrapper .pagination-numbers * {
  cursor: pointer;
}
.pagination-container .pagination-wrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  font-size: 24px;
  font-family: FiraGO700;
  color: rgba(60, 60, 67, 0.6);
  padding: 5px 10px;
  border-radius: 8px;
}
.pagination-container .pagination-wrapper p.active {
  background-color: #0077ff;
  color: white;
}
.pagination-container .pagination-wrapper img:last-child {
  rotate: 180deg;
}

.landing-photo-wrapper {
  width: 100%;
  max-height: 294px;
  aspect-ratio: 8/3;
  overflow: hidden;
  position: relative;
}
.landing-photo-wrapper .landing-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 820px) {
  .landing-photo-wrapper .landing-photo {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.landing-photo-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

header {
  height: 96px;
  background-color: #0077ff;
}
@media (max-width: 1200px) {
  header {
    height: 120px;
  }
}
@media (max-width: 768px) {
  header {
    height: 80px;
  }
}
@media (max-width: 480px) {
  header {
    height: 90px;
  }
}
header .header_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_wrapper .header_components {
  width: 100%;
  height: 47.21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrapper .header_components .logo {
  height: 100%;
  width: 11.83%;
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .logo {
    width: 17.48%;
  }
}
@media (max-width: 360px) {
  header .header_wrapper .header_components .logo {
    width: 23%;
  }
}
header .header_wrapper .header_components .logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header_wrapper .header_components .navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 92px;
       column-gap: 92px;
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .navigation nav ul {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
header .header_wrapper .header_components .navigation nav li a {
  font-family: FiraGo500;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.3764705882);
  transition: color 0.5s;
}
header .header_wrapper .header_components .navigation nav li a:hover {
  color: #ffffff;
}
@media (max-width: 1200px) {
  header .header_wrapper .header_components .navigation nav li a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .navigation nav li a {
    font-size: 14px;
    line-height: 16.3px;
  }
}
header .header_wrapper .header_components .navigation nav li .active-header {
  color: #ffffff;
}
@media (max-width: 600px) {
  header .header_wrapper .header_components .navigation {
    display: none;
  }
}
header .header_wrapper .burger_menu {
  width: 18px;
  height: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}
@media (max-width: 600px) {
  header .header_wrapper .burger_menu {
    display: flex;
  }
}
header .header_wrapper .burger_menu .line {
  width: 100%;
  height: 1.5px;
  border-radius: 2px;
  background-color: #ffffff;
}

.footer-main-info {
  background-color: #0077ff;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}
.footer-main-info .container {
  padding: 46px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-main-info .container .contacts-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-main-info .container .contacts-container h2 {
  color: #fff;
  font-family: FiraGo700;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}
.footer-main-info .container .contacts-container .contacts-wrapper a {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-family: Firago400;
  line-height: 26px;
}
.footer-main-info .container .contacts-container .contacts-wrapper a img {
  height: 40px;
  width: 40px;
  aspect-ratio: 1;
}
.footer-main-info .container .contacts-container .contacts-wrapper .contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-main-info .container .contacts-container .contacts-wrapper .contacts:not(:last-child) {
  margin-bottom: 22px;
}
.footer-main-info .container .contacts-container .contacts-wrapper .contacts p,
.footer-main-info .container .contacts-container .contacts-wrapper .contacts a {
  margin-left: 16px;
}
.footer-main-info .container .contacts-container .contacts-wrapper .contacts a {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
@media only screen and (max-width: 820px) {
  .footer-main-info .container .contacts-container .contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer-main-info .container .contacts-container .contacts-wrapper li:nth-of-type(2),
.footer-main-info .container .contacts-container .contacts-wrapper li:nth-of-type(4) {
  text-decoration: underline;
}
.footer-main-info .container .contacts-container .contacts-wrapper li:last-child a {
  margin-bottom: 0;
}
.footer-main-info .container .usage-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-main-info .container .usage-container a {
  color: #fff;
  font-family: FiraGo700;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.footer-main-info .container .usage-container a {
  color: white;
  cursor: pointer;
  color: #fff;
  font-family: FiraGo700;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (max-width: 820px) {
  .footer-main-info .container .usage-container a {
    text-align: center;
    display: block;
    height: 100%;
  }
}
@media only screen and (max-width: 820px) {
  .footer-main-info .container .usage-container {
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
    -moz-column-gap: 35px;
         column-gap: 35px;
    flex-wrap: wrap;
  }
}
.footer-main-info .container .unilab-team-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.footer-main-info .container .unilab-team-container .logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 25px;
}
.footer-main-info .container .unilab-team-container .logo-container img {
  height: 80px;
}
.footer-main-info .container .unilab-team-container p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  font-family: FiraGO400;
}
@media only screen and (max-width: 820px) {
  .footer-main-info .container {
    flex-direction: column;
    gap: 40px;
  }
}

.footer-additional-info {
  background-color: #0468dc;
  color: white;
}
.footer-additional-info > aside p {
  color: #fff;
  font-family: FiraGo300;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  padding: 30px 0;
}
.footer-additional-info .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-additional-info .container p {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 700;
}

.dotted-line {
  flex-wrap: wrap;
  overflow: hidden;
}

.book-details-body-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.book-details-body-container main {
  flex: 1;
}

.book-main {
  background-color: #f5f5f5;
}
.book-main .book-container {
  max-width: 1680px;
  margin: 64px auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 72px;
}
.book-main .book-container .cover-wrapper {
  display: flex;
  flex-direction: column;
}
.book-main .book-container .cover-wrapper img {
  max-width: 504px;
  height: 685px;
  margin-bottom: 16px;
  border-radius: 20px;
}
.book-main .book-container .cover-wrapper a {
  background-color: #0468dc;
  color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 350;
  border: none;
  cursor: pointer;
  font-family: "FiraGO400", sans-serif;
  text-align: center;
  height: 61px;
  transition: all 0.2s;
}
.book-main .book-container .cover-wrapper a:hover {
  background-color: rgb(0, 119, 255);
}
.book-main .book-container .info-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.book-main .book-container .info-wrapper .main-info {
  display: flex;
  flex-direction: column;
}
.book-main .book-container .info-wrapper .main-info h3 {
  margin-bottom: 16px;
  font-family: "FiraGO400", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #333;
}
.book-main .book-container .info-wrapper .main-info p {
  margin-bottom: 40px;
  font-family: "FiraGO400", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgba(60, 60, 67, 0.6);
}
.book-main .book-container .info-wrapper .main-info .book-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.book-main .book-container .info-wrapper .main-info .book-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.book-main .book-container .info-wrapper .main-info .book-info div img {
  width: 24px;
  height: 24px;
  filter: opacity(45%);
}
.book-main .book-container .info-wrapper .main-info .book-info div span {
  font-family: "FiraGO400", sans-serif;
  font-size: 16px;
  font-weight: 350;
  color: rgba(60, 60, 67, 0.6);
}
.book-main .book-container .info-wrapper .button-wrapper {
  margin: 40px 0 16px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 46px;
}
.book-main .book-container .info-wrapper .button-wrapper button {
  background-color: transparent;
  color: #333333;
  padding: 0 0 8px 0;
  border: none;
  font-family: FiraGO500;
  font-size: 20px;
  font-weight: 500;
}
.book-main .book-container .info-wrapper .button-wrapper button.focused {
  color: #0468dc;
  border-bottom: #0468dc solid 3px;
}
.book-main .book-container .info-wrapper .anotation-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.book-main .book-container .info-wrapper .anotation-section p {
  margin-bottom: 32px;
  font-family: "FiraGO400", sans-serif;
  font-size: 18px;
  font-weight: 350;
  line-height: 1.5;
  color: #333;
}
.book-main .book-container .info-wrapper .anotation-section div {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.book-main .book-container .info-wrapper .anotation-section div span {
  font-family: "FiraGO400", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333;
}
.book-main .book-container .info-wrapper .feature-section ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.book-main .book-container .info-wrapper .feature-section ul li {
  padding-bottom: 8px;
  border-bottom: 1px dashed #d0d0d0;
  font-family: "FiraGO400", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #000;
}
.book-main .book-container .info-wrapper .feature-section ul li:last-child {
  border-bottom: 0;
}
.book-main .book-container .info-wrapper .searching-section {
  max-width: 1140px;
}
.book-main .book-container .info-wrapper .searching-section .each_content_line {
  display: flex;
  gap: 16px;
}
.book-main .book-container .info-wrapper .searching-section .each_content_line p {
  min-width: 100px;
  margin-bottom: 34px;
  font-family: "FiraGO400", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  line-height: 21.6px;
}
.book-main .book-container .info-wrapper .searching-section .each_content_line p:nth-child(2) {
  letter-spacing: 0.25em;
}
.book-main .book-container .info-wrapper .anotation-section,
.book-main .book-container .info-wrapper .feature-section,
.book-main .book-container .info-wrapper .searching-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s ease-out, opacity 0.4s ease-out;
  opacity: 0;
}
.book-main .book-container .info-wrapper .feature-section ul li {
  font-size: 14px;
  font-weight: 350;
  color: rgba(60, 60, 67, 0.6);
}
.book-main .book-container .info-wrapper .open {
  max-height: 100% !important;
  opacity: 1;
}
.book-main .similar-books {
  margin-bottom: 110px;
  background-color: #fff;
  /*.cards-wrapper {
    /*display: flex;
    align-items: center;
    justify-content: space-between;

    .card {
      border-radius: 10px;
      border: solid 1px #c2c2c2;
      background-color: #fff;

      img {
        width: 275px;
        height: 420px;
      }
      div {
        padding: 16px;

        h4 {
          margin-bottom: 40px;
          font-family: $font-family;
          font-size: 20px;
          font-weight: 500;
          color: #000;
        }

        p {
          margin-bottom: 22.5px;
          font-family: $font-family;
          font-size: 16px;
          font-weight: normal;
          color: #000;
        }

        div {
          padding: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          span {
            font-family: $font-family;
            font-size: 16px;
            font-weight: normal;
            color: #000;
          }

          div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5;

            img {
              width: 22px;
              height: 15px;
            }

            span {
              font-family: $font-family;
              font-size: 16px;
              font-weight: bold;
              color: #13297f;
            }
          }
        }
      }
    }
  }*/
}
.book-main .similar-books .similar-books-container {
  max-width: 1680px;
}
.book-main .similar-books .similar-books-container.main-content-wrapper {
  padding-top: 36px;
  padding-bottom: 43px;
}
.book-main .similar-books h3 {
  margin-bottom: 28px;
  font-family: "FiraGO400", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #333;
}
.book-main .similar-books .books-box {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.book-main .similar-books .books-box .book-cover {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.about-project-header a {
  transition: color 0.2s;
}
.about-project-header a:hover {
  color: #fff !important;
}

.a-b {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
.a-b header {
  min-height: 96px;
}

.about-main {
  flex: 1;
}
.about-main .main-content-wrapper {
  padding-top: 0;
}
@media only screen and (max-width: 1440px) {
  .about-main .main-content-wrapper {
    max-width: 1264px;
  }
}
.about-main .landing-photo-wrapper::before {
  display: none;
}
.about-main section {
  margin-top: 64px;
  padding-top: 0;
}
.about-main h2 {
  margin-bottom: 16px;
  color: #0468dc;
  font-family: FiraGo700;
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
}
.about-main p,
.about-main .instructions-page li {
  color: #333333;
  font-family: FiraGo350;
  font-size: 18px;
  font-weight: 350;
  line-height: normal;
  line-height: 1.5;
}
.about-main .about-project-section article > p:last-child {
  margin-top: 45px;
}
.about-main .instructions-page {
  margin-top: 64px;
}
.about-main .instructions-page ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.about-main .contacts-section {
  margin-bottom: 74px;
}
.about-main .contacts-section > div {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}
.about-main .contacts-section > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 56px;
  min-width: 415px;
}
.about-main .contacts-section > div > div > h2 {
  margin-bottom: 0;
}
.about-main .contacts-section > div ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: column;
  padding: 0;
  width: 100%;
  gap: 15px;
}
.about-main .contacts-section > div ul li:nth-of-type(2) {
  text-decoration: underline;
}
.about-main .contacts-section > div ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #333333;
  font-family: Firago500;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  font-family: inherit;
  line-height: 26px;
}
.about-main .contacts-section > div ul img {
  width: 40px;
  aspect-ratio: 1;
}
.about-main .contacts-section > div .iframe-div {
  width: 100%;
  max-width: 1111px;
}
@media only screen and (max-width: 1440px) {
  .about-main .contacts-section > div .iframe-div {
    max-width: 727px;
  }
}
.about-main .contacts-section > div iframe {
  flex: 1;
  width: 100%;
  height: 288px;
  border-radius: 10px;
  border: 2px solid #0468dc;
}

body {
  background-color: #f5f5f5;
}

.error-main-container {
  min-height: calc(100dvh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-main-container .error-message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.error-main-container .error-message h1 {
  color: #022859;
  font-family: FiraGo700;
  font-size: 3rem;
}
.error-main-container .error-message p {
  color: #0468dc;
  font-family: FiraGo700;
  font-size: 1.5rem;
  text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.flip-body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: FiraGo;
}
.flip-body-container main {
  flex: 1;
  background-color: white;
}

.flip-page-main {
  background-color: #edf6fb !important;
}

a#menu .svg-path {
  fill: rgba(255, 255, 255, 0.3764705882);
  transition: fill 0.3s ease;
}
a#menu .svg-path:hover {
  fill: white;
}
a#menu:hover .svg-path {
  fill: #ffffff;
}

.flip-page-header {
  background-color: #0077ff;
  color: white;
}
.flip-page-header .flip-page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flip-page-header .flip-page-header-container .flip-navbar-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 99px;
  cursor: pointer;
}
.flip-page-header .flip-page-header-container .flip-navbar-right #main-chapter {
  text-align: center;
  width: auto;
  max-width: 250px;
}
.flip-page-header .flip-page-header-container .flip-navbar-right p {
  font-family: FiraGo400;
  font-size: 24px;
}
.flip-page-header .flip-page-header-container .flip-navbar-right .svg-path {
  transition: fill 0.3s ease;
}
.flip-page-header .flip-page-header-container .flip-navbar-right .svg-path {
  fill: #ffffff;
}
.flip-page-header .flip-page-header-container .menu-ul {
  background-color: white;
  color: black;
  position: absolute;
  top: 69px;
  right: 45px;
  border-radius: 10px;
  border: 1px solid #333333;
  overflow: hidden;
  z-index: 100;
  max-height: 500px;
  overflow-y: auto;
}
.flip-page-header .flip-page-header-container .menu-li {
  font-family: FiraGo400;
  font-size: 20px;
  width: auto;
  min-width: 223px;
  max-width: 100%;
  height: 46px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #333333;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  color: #333333;
}
.flip-page-header .flip-page-header-container .menu-li:last-child {
  border-bottom: none;
}
.flip-page-header .flip-page-header-container .menu-li:hover {
  background-color: #d8ebfc;
  color: #333333;
}
.flip-page-header .flip-page-header-container .menu-li.hover {
  background-color: #d8ebfc;
  color: #333333;
}

.over-hidden {
  overflow: hidden;
}

#main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 50px;
  position: relative;
}
#main-content #pdf-container {
  visibility: hidden;
  overflow: hidden;
}
#main-content #pdf-container .my-page {
  background-color: #fff;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#flip-pages {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#flip-pages .page {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 26px;
  gap: 22px;
}
#flip-pages .page .current-page {
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

#loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex: 1;
  background-color: #edf6fb;
}
#loader img {
  width: 200px;
  height: 190px;
  mix-blend-mode: multiply;
}
#loader h1 {
  font-size: 48px;
  color: #022859;
  font-family: FiraGo700;
  display: flex;
  align-items: center;
}
#loader h1 .dots {
  margin-left: 8px;
}
#loader h1 .dots::after {
  content: "";
  display: inline-block;
  animation: dots 1.5s steps(3, end) infinite;
}
#loader a {
  color: #0468dc;
  font-size: 24px;
  font-family: Firago500;
  text-decoration: underline;
}
#loader a:hover {
  text-decoration: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.my-page img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  backface-visibility: hidden;
}

.main-chapter {
  font-family: FiraGo400;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}/*# sourceMappingURL=global.css.map */