{% extends "base.html" %}
<!--  -->
{% block title %} --about-- {% endblock %}
<!--  -->

{% block main_section %}
<main class="about-main">
  <div class="landing-photo-wrapper">
    <img
      src="{{ url_for('static', filename='images/a-p-landing-photo.jpg') }}"
      class="landing-photo"
      alt="landing-photo"
    />
  </div>
  <div class="main-content-wrapper">
    <section class="about-project-section">
      <h2>პროექტის შესახებ</h2>
      <article>
        <p>
          ილია ჭავჭავაძის გამომცემლობის ვებ-გვერდი, სახელწოდება და ქვედა ტექსტი:
          ილია ჭავჭავაძის გამომცემლობის ვებ-გვერდი - არის ონლაინ ბიბლიოთეკა,
          რომელშიც თავმოყრილი იქნება ილია ჭავჭავაძის წიგნები. ონლაინ წიგნების
          საცავი საშუალებას მისცემს უნივერსიტეტში არსებულ მკლევარებს,
          სტუდენტებსა და პროფესორებს, რომ წაიკითხონ, გაეცნონ და გამოიკვლიონ,
          ილია ჭავჭავაძის წიგნები და სამომავლოდ დაემატება, ნათარგმნები,
          ხელწერები, ჟურნალები, წერილები და ა.შ. ონლაინ ბიბლიოთეკა იქნება
          ელექტრონული საცავი, რომელიც გაამარტივებს წვდომას ილია ჭავჭავაძის
          რესურსებთან.
        </p>
        <p>
          ლორემ იპსუმ ნაბოძებ გვიკრძალავდნენ ესთეტიკურად მოღუნა დასკვნით მქვია
          შევმძვრალვარ. საშვების ვახტანგს ორვეს, მიმზიდველ ქართულადო გამოუშვებდა
          უმძიმდა ფილტვებით. დავიჭირე ჰჩემობდა ნაბოძებ ხევში სდუმდნენ ირგებდა
          ფილტვებით დავიჯერე, ოცნებამ, საწყალო გააკეთებინა. უარჰყო საწყალო მქვია
          საბოლოოდ პაციფისტებსაც შენათ კვამლს ავტოგრაფების ცხოველურის მოდისო
          მიუსაფარ მოღუნა ავისმომასწავებლად ნანობდა. გაიფრენდნენ დავსთრგუნო
          დაყრდნობილი ილო ხიზნობა, შევმძვრალვარ ირგვლივაც არჩილი დაიხრჩო
          ვვიფიქრებ გადმომხობოდა ავისმომასწავებლად დასკვნით სდუმდნენ.
        </p>
      </article>
    </section>

    <section class="instructions-page">
      <h2>ინსტრუქციები პლატფორმის გამოყენების შესახებ</h2>
      <ul>
        <li>
          ლორემ იპსუმ ნაბოძებ გვიკრძალავდნენ ესთეტიკურად მოღუნა დასკვნით მქვია
          შევმძვრალვარ. საშვების ვახტანგს ორვეს, მიმზიდველ ქართულადო გამოუშვებდა
          უმძიმდა ფილტვებით. დავიჭირე ჰჩემობდა ნაბოძებ ხევში სდუმდნენ ირგებდა
          ფილტვებით დავიჯერე, ოცნებამ, საწყალო გააკეთებინა. უარჰყო საწყალო მქვია
          საბოლოოდ პაციფისტებსაც შენათ
        </li>
        <li>
          ლორემ იპსუმ ნაბოძებ გვიკრძალავდნენ ესთეტიკურად მოღუნა დასკვნით მქვია
          შევმძვრალვარ. საშვების ვახტანგს ორვეს, მიმზიდველ ქართულადო გამოუშვებდა
          უმძიმდა ფილტვებით. დავიჭირე ჰჩემობდა ნაბოძებ ხევში სდუმდნენ ირგებდა
          ფილტვებით დავიჯერე, ოცნებამ, საწყალო გააკეთებინა. უარჰყო საწყალო მქვია
          საბოლოოდ პაციფისტებსაც შენათ
        </li>
        <li>
          ლორემ იპსუმ ნაბოძებ გვიკრძალავდნენ ესთეტიკურად მოღუნა დასკვნით მქვია
          შევმძვრალვარ. საშვების ვახტანგს ორვეს, მიმზიდველ ქართულადო გამოუშვებდა
          უმძიმდა ფილტვებით. დავიჭირე ჰჩემობდა ნაბოძებ ხევში სდუმდნენ ირგებდა
          ფილტვებით დავიჯერე, ოცნებამ, საწყალო გააკეთებინა. უარჰყო საწყალო მქვია
          საბოლოოდ პაციფისტებსაც შენათ
        </li>
        <li>
          ლორემ იპსუმ ნაბოძებ გვიკრძალავდნენ ესთეტიკურად მოღუნა დასკვნით მქვია
          შევმძვრალვარ. საშვების ვახტანგს ორვეს, მიმზიდველ ქართულადო გამოუშვებდა
          უმძიმდა ფილტვებით. დავიჭირე ჰჩემობდა ნაბოძებ ხევში სდუმდნენ ირგებდა
          ფილტვებით დავიჯერე, ოცნებამ, საწყალო გააკეთებინა. უარჰყო საწყალო მქვია
          საბოლოოდ პაციფისტებსაც შენათ
        </li>
      </ul>
    </section>

    <section class="contacts-section">
      <div>
        <div>
          <h2>საკონტაქტო ინფორმაცია</h2>
          <ul>
            <li>
              <a href="tel:(+995-32)222-00-09">
                <img
                  src="{{ url_for('static', filename='icons/phone-icon--blue.svg') }}"
                  alt="phone icon"
                />(+995 32) 222 00 09 (116)</a
              >
            </li>
            <li>
              <a href="mailto:library@iliauni@edu.ge">
                <img
                  id="css-email"
                  src="{{ url_for('static', filename='icons/email-icon--blue.svg') }}"
                  alt="email icon"
                />library@iliauni@edu.ge</a
              >
            </li>
            <li>
              <a
                href="https://www.google.com/maps/place/%E1%83%98%E1%83%9A%E1%83%98%E1%83%90%E1%83%A1+%E1%83%A1%E1%83%90%E1%83%AE%E1%83%94%E1%83%9A%E1%83%9B%E1%83%AC%E1%83%98%E1%83%A4%E1%83%9D+%E1%83%A3%E1%83%9C%E1%83%98%E1%83%95%E1%83%94%E1%83%A0%E1%83%A1%E1%83%98%E1%83%A2%E1%83%94%E1%83%A2%E1%83%98/@41.7085521,44.7691021,17z/data=!4m6!3m5!1s0x40447332ce83ce27:0x88f10503a3a86e1d!8m2!3d41.7088973!4d44.7708867!16s%2Fm%2F02pmq51?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="{{ url_for('static', filename='icons/location-icon--blue.svg') }}"
                  alt="location icon"
                />ქაქუცა ჩოლოყაშვილის 3/5</a
              >
            </li>
            <li>
              <a href="library.iliauni.edu.ge">
                <img
                  src="{{ url_for('static', filename='icons/link-icon--blue.svg') }}"
                  alt="link icon"
                />library.iliauni.edu.ge</a
              >
            </li>
          </ul>
        </div>

        <div class="iframe-div">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.6743431872987!2d44.7689237!3d41.7095394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447332ce83ce27%3A0x88f10503a3a86e1d!2z4YOh4YOX4YOg4YOY4YOU4YOa4YOU4YOh4YOU4YOY4YOU4YOg4YOa4YOU4YOX4YOU4YOa4YOU4YOQ!5e0!3m2!1sen!2sge!4v1700000000000!5m2!1sen!2sge"
            allowfullscreen
            loading="lazy"
            title="ილიას სახელმწიფო უნივერსიტეტის ადგილმდებარეობა"
          >
          </iframe>
        </div>
      </div>
    </section>
  </div>
</main>
{%endblock%}
