{% extends "base.html" %}

{% block title %} პროექტის შესახებ{% endblock %}


{% block content %}
<main class="about-main">
    <div class="landing-photo-wrapper">
        <img src="{{ url_for('static', filename='assets/a-p-landing-photo.jpg') }}"
             class="landing-photo"
             alt="landing-photo"/>
    </div>
    <div class="main-content-wrapper">
        <section class="about-project-section">
            <h2>პროექტის შესახებ</h2>
            <article>
                <p>
                    ილიას სახელმწიფო უნივერსიტეტის ბიბლიოთეკა წარმოგიდგენთ უნიკალურ
                    პლატფორმას - ილია ჭავჭავაძის გამოცემების ციფრულ არქივს. 2024 წლიდან
                    შექმნილ არქივში თავმოყრილია ილია ჭავჭავაძის ყველა ის გამოცემა, რომელიც
                    ჩვენი უნივერსიტეტის ბიბლიოთეკის ფონდებშია დაცული, მათ შორის, 1880
                    წლიდან დღემდე გამოცემული უნიკალური ერთეულები. პლატფორმის შექმნის
                    მიზანია, გაამარტივოს ილია ჭავჭავაძის შემოქმედების შესახებ ინფორმაციის
                    მოძიება და მასზე ციფრული ხელმისაწვდომობა.
                </p>
                <p>
                    არქივში ყველა რესურსი ღია წვდომით არის განთავსებული, რაც ყველა
                    დაინტერესებულ პირს საშუალებას მისცემს, გამოიყენონ მასალები როგორც
                    სწავლა-სწავლების, ისე კვლევითი მიზნებისთვის.
                </p>
            </article>
        </section>

        <section class="contacts-section">
            <div>
                <div>
                    <h2>საკონტაქტო ინფორმაცია</h2>
                    <ul>
                        <li>
                            <a href="tel:(+995-32)222-00-09">
                                <img src="{{ url_for('static', filename='assets/phone-icon--green.svg') }}"
                                     alt="phone icon"/>
                                (+995 32) 222 00 09 (116)
                            </a>
                        </li>
                        <li>
                            <a href="mailto:library@iliauni@edu.ge">
                                <img id="css-email"
                                     src="{{ url_for('static', filename='assets/email-icon--green.svg') }}"
                                     alt="email icon"/>
                                library@iliauni@edu.ge
                            </a>
                        </li>
                        <li>
                            <a href="google.com/maps/place/ილიაუნი+E+კორპუსი/@41.7119914,44.7495035,209m/data=!3m1!1e3!4m9!1m2!2m1!1zbjQ1IOGDmOGDmuGDmOGDkCDhg63hg5Dhg5Xhg63hg5Dhg5Xhg5Dhg6vhg5jhg6Eg4YOS4YOQ4YOb4YOW4YOY4YOg4YOYLCBPbGQgVGJpbGlzaSwgVGJpbGlzaQ!3m5!1s0x40447338ed66f4d3:0x8f94a6713b4f1b04!8m2!3d41.711991!4d44.7495118!16s%2Fg%2F11cspx95fq?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D"
                               target="_blank"
                               rel="noopener noreferrer">
                                <img src="{{ url_for('static', filename='assets/location-icon--green.svg') }}"
                                     alt="location icon"/>ილიას სახელმწიფო უნივერსიტეტი, ილია ჭავჭავაძის გამზირი N45
                            </a>
                            
                        </li>
                        <li>
                            <a target="_blank" href="https://library.iliauni.edu.ge/">
                                <img src="{{ url_for('static', filename='assets/link-icon--green.svg') }}"
                                     alt="link icon"/>
                                library.iliauni.edu.ge
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="iframe-div">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.6743431872987!2d44.7689237!3d41.7095394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447332ce83ce27%3A0x88f10503a3a86e1d!2z4YOh4YOX4YOg4YOY4YOU4YOa4YOU4YOh4YOU4YOY4YOU4YOg4YOa4YOU4YOX4YOU4YOa4YOU4YOQ!5e0!3m2!1sen!2sge!4v1700000000000!5m2!1sen!2sge"
                            allowfullscreen
                            loading="lazy"
                            title="ილიას სახელმწიფო უნივერსიტეტის ადგილმდებარეობა">
                    </iframe>
                </div>
            </div>
        </section>
    </div>
</main>
{%endblock%}

{% block script %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}