{% extends "base.html" %}
{% block title %}
    {{book.title}}
{% endblock %}

{% block content %}
    <main class="book-main">
        <article class="book-container container">
            <div class="cover-wrapper">
                <img src="{{ url_for('static', filename='upload/' + book.cover_image) }}" alt="{{ book.title }} cover"/>
                <a href="{{ url_for('main.read_book', id=book.id) }}">წაკითხვა (PDF)</a>
            </div>
            <div class="info-wrapper">
                <div class="main-info">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }} | {{ book.publish_year }}</p>
                    <div class="book-info">
                        <div>
                            <img src="{{ url_for('static', filename='assets/book-icon.svg') }}" alt="book icon"/>
                            <p>გვერდების რაოდენობა: {{ book.page_count }}</p>
                        </div>
                        <div>
                            <img src="{{ url_for('static', filename='assets/language-icon.svg') }}"
                                 alt="language icon"/>
                            <p>ენა: {{ book.language }}</p>
                        </div>
                        <div>
                            <img src="{{ url_for('static', filename='assets/book-check-icon.svg') }}"
                                 alt="book check icon"/>
                            <p>გამომცემლობა: {{ book.publisher | default('უცნობია', true) }}</p>
                        </div>
                        <a class="read-mobile" href="{{ url_for('main.read_book', id=book.id) }}">წაკითხვა (PDF)</a>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button id="anotation">ანოტაცია</button>
                    <button id="search">სარჩევი</button>
                    <button id="feature">მახასიათებლები</button>
                </div>
                <section class="anotation-section open">
                    <p>{{ book.annotation }}</p>
                </section>

                <section class="searching-section">
                    {% for content in book.book_content %}
                        <div class="each_content_line">
                            
                                <a href="{{ url_for('main.read_book', id=book.id) }}?page={{ content.page_number }}" style="color: inherit">
                                    {{ content.name }}
                                </a>
                            

                            <p class="dotted-line">
                                .......................................................................................................................................................................................
                            </p>
                            <p>გვ. {{ content.page_number }}</p>
                        </div>
                    {% endfor %}
                </section>

                <section class="feature-section">
                    <ul>
                        {% for column in book.__table__.columns %}
                            {#% if book | attr(column.name) and column.comment %#}
                            {% if column.name != 'annotation' and book | attr(column.name) and column.comment %}
                                {% if column.foreign_keys %}
                                    {% set foreign_key = column.foreign_keys | list %}
                                    {% set foreign_key= foreign_key[0].target_fullname.split('.')[0] %}
                                    {% for relationship in book.__mapper__.relationships %}
                                        {% if relationship.target.name == foreign_key %}
                                            <li>
                                                <span> {{ column.comment }}: </span>
                                                <span> {{ book | attr(relationship.key) }}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <li>
                                        <span> {{ column.comment }}: </span>
                                        <span> {{ book | attr(column.name) }}</span>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </article>

        <div class="mobile-only container">
            <div class="mobile-accordion ">
                <button class="mobile-btn" id="mobile-anotation-btn">
                    <span>ანოტაცია</span>
                    <img src="{{ url_for('static', filename='assets/green-dropdown-icon.svg') }}" alt="dropdown icon"
                        class="dropdown-icon rotated">
                </button>
                <section id="mobile-anotation" class="mobile-anotation-section open">
                    <p>{{ book.annotation }}</p>
                </section>

                <button class="mobile-btn" id="mobile-search-btn">
                    <span>სარჩევი</span>
                    <img src="{{ url_for('static', filename='assets/green-dropdown-icon.svg') }}" alt="dropdown icon"
                        class="dropdown-icon">
                </button>
                <section id="mobile-search" class="mobile-searching-section ">
                    {% for content in book.book_content %}
                    <div class="each_content_line">
                        <a href="{{ url_for('main.read_book', id=book.id) }}?page={{ content.page_number }}"
                            style="color: inherit">
                            {{ content.name }}
                        </a>
                        <p class="dotted-line">
                            .......................................................................................................................................................................................
                        </p>
                        <p>გვ. {{ content.page_number }}</p>
                    </div>
                    {% endfor %}
                </section>

                <button class="mobile-btn" id="mobile-feature-btn">
                    <span>მახასიათებლები</span>
                    <img src="{{ url_for('static', filename='assets/green-dropdown-icon.svg') }}" alt="dropdown icon"
                        class="dropdown-icon">
                </button>
                <section id="mobile-feature" class="mobile-feature-section">
                    <ul>
                        {% for column in book.__table__.columns %}
                            {% if column.name != 'annotation' and book | attr(column.name) and column.comment %}
                                {% if column.foreign_keys %}
                                    {% set foreign_key = column.foreign_keys | list %}
                                    {% set foreign_key = foreign_key[0].target_fullname.split('.')[0] %}
                                    
                                    {% for relationship in book.__mapper__.relationships %}
                                        {% if relationship.target.name == foreign_key %}
                                            <li>
                                                <span>{{ column.comment }}: </span>
                                                <span>{{ book | attr(relationship.key) }}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <li>
                                        <span>{{ column.comment }}: </span>
                                        <span>{{ book | attr(column.name) }}</span>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>

            </div>
        </div>

        <section class="similar-books">
            <div class="main-content-wrapper similar-books-container">
                <h3>მსგავსი წიგნები</h3>
                <div class="books-box books-section">
                    {% for book in other_books %}
                        <a href="{{ url_for('main.view_book', id=book.id) }}">
                            <article class="card">
                                <img src="{{ url_for('static', filename="upload/" + book.cover_image) }}"
                                     alt="book-cover" class="book-cover"/>
                                <div class="book-info">
                                    <div class="book-views">
                                        <div>

                                            <img src="{{ url_for('static', filename="assets/mdi_eye.svg") }}"
                                            alt="eye-icon"/>
                                            <p>{{ book.view_count }}</p>
                                        </div>
                                    </div>

                                    <div class="title-share">
                                        <div class="title-share-default">
                                            <h2>{{ book.title | default('უსათაურო', true) }}</h2>
                                            <img src="{{ url_for('static', filename="assets/share-icon.svg") }}"
                                                 alt="share-icon"/>
                                        </div>
                                        <div class="title-share-hover">
                                            {% if book.publisher %}
                                                <p>{{ book.publisher }}</p>
                                            {% endif %}
                                            {% if book.publish_year %}
                                                <span>{{ book.publish_year }}</span>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </article>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book-details.js') }}"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
