{% extends "base.html" %}
{% block title %} ციფრული არქივი{% endblock %}

{% block content %}
<main class="main-page">
    <div class="landing-photo-wrapper">
        <img src="{{ url_for('static', filename='assets/landing-photo.png') }}" alt="landing-photo"
             class="landing-photo"/>
    </div>
    <div class="main-content-wrapper">
        <div class="filter-books-wrapper">
            {% include "main/_index_sidebar.html" %}
            <div class="search-results-info">
                {% if filters_used %}
                <aside>
                  
                        <div class="go-back-container">
                            <a href="{{ url_for('main.index') }}">
                                <img src="{{ url_for('static', filename='assets/arrow-back.svg') }}" alt="go-back"/>
                                უკან დაბრუნება
                            </a>
                        </div>
                    
                    <p {% if not books.items %} style="flex: unset" {% endif %}>
                        {% if search_text %}
                            <span>
                                საძიებო სიტყვა <span class="search-text-line">"{{ search_text }}"</span>
                            </span>
                        {% endif %}
                        
                        <span> მოიძებნა {{ all_found_books_num }} ჩანაწერი </span>
                    </p>
                </aside>
                {% endif %}

                {% if not books.items %}
                    <section id="no-books-found">
                        <article>
                            <h2>ჩანაწერი ვერ მოიძებნა</h2>
                            <!-- <h2><img src="{{ url_for('static', filename='assets/ჩანაწერი-ვერ-მოიძებნა.svg') }}" alt=""></h2> -->
                            <p>გთხოვთ, სწორად შეიყვანოთ საძიებო სიტყვა</p>
                        </article>
                    </section>
                    </div>
                {% else %}
                    <section class="books-section">
                        {% for book in books.items %}
                            <a href="{{ url_for('main.view_book', id=book.id) }}">
                                <article class="card">
                                    <img src="/static/upload/{{ book.cover_image }}" alt="book-cover"
                                         class="book-cover"/>
                                    <div class="book-info">
                                        <div class="book-views">
                                            <img src="{{ url_for('static', filename='assets/mdi_eye.svg') }}"
                                                 alt="eye-icon"/>
                                            <p>{{ book.view_count }}</p>
                                        </div>

                                        <div class="title-share">
                                            <div class="title-share-default">
                                                <h2>{{ book.title }}</h2>
                                                <img src="{{ url_for('static', filename='assets/share-icon.svg') }}"
                                                     alt="share-icon"/>
                                            </div>
                                            <div class="title-share-hover">
                                                {% if book.publisher.name %}
                                                <p>{{ book.publisher.name }}</p>
                                                {% endif %}
                                                <span>{{ book.publish_year }} წელი</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        {% endfor %}
                    </section>
                    {% include "main/_index_pagination.html" %}
                {% endif %}
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block script %}
{% endblock %}
