<footer class="about-project-footer">
    <section class="footer-main-info">
        <div class="container">
            <div class="contacts-container">
                <h2>კონტაქტი</h2>
                <div class="contacts-wrapper">
                    <ul>
                        <li>
                            <a href="tel:(+995-32)222-00-09">
                                <img src="{{ url_for('static', filename='assets/phone-icon.svg') }}" alt="phone icon"/>
                                (+995 32) 222 00 09 <span>(116)</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:library@iliauni@edu.ge">
                                <img id="css-email"
                                     src="{{ url_for('static', filename='assets/email-icon.svg') }}"
                                     alt="email icon"/>
                                library@iliauni@edu.ge
                            </a>
                        </li>
                        <li>
                            <a href="google.com/maps/place/ილიაუნი+E+კორპუსი/@41.7119914,44.7495035,209m/data=!3m1!1e3!4m9!1m2!2m1!1zbjQ1IOGDmOGDmuGDmOGDkCDhg63hg5Dhg5Xhg63hg5Dhg5Xhg5Dhg6vhg5jhg6Eg4YOS4YOQ4YOb4YOW4YOY4YOg4YOYLCBPbGQgVGJpbGlzaSwgVGJpbGlzaQ!3m5!1s0x40447338ed66f4d3:0x8f94a6713b4f1b04!8m2!3d41.711991!4d44.7495118!16s%2Fg%2F11cspx95fq?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D"
                               target="_blank"
                               rel="noopener noreferrer">
                                <img src="{{ url_for('static', filename='assets/location-icon.svg') }}"
                                     alt="location icon"/>
                                ილიას სახელმწიფო უნივერსიტეტი, ილია ჭავჭავაძის გამზირი N45
                            </a>
                        </li>
                        <li>
                            <a href="https://library.iliauni.edu.ge/" target="_blank">
                                <img src="{{ url_for('static', filename='assets/link-icon.svg') }}"
                                     alt="link icon"/>
                                library.iliauni.edu.ge
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="unilab-team-container">
                <div class="logo-container">
                    <a href="https://iliauni.edu.ge/ge"
                       target="_blank"
                       rel="noopener noreferrer">
                        <img src="{{ url_for('static', filename='assets/iliauni-logo.svg') }}"
                             alt="iliauni-logo"/>
                    </a>
                    <a href="https://unilab.iliauni.edu.ge/"
                       target="_blank"
                       rel="noopener noreferrer">
                        <img src="{{ url_for('static', filename='assets/unilab-logo.svg') }}"
                             alt="unilab-logo"/>
                    </a>
                </div>
                <p>ვებგვერდზე იმუშავა უნილაბის გუნდმა</p>
            </div>
        </div>

    </section>
    <section class="footer-additional-info">
        <aside class="container">
            <p>ილიას სახელმწიფო უნივერსიტეტი 2024. ყველა უფლება დაცულია.</p>
        </aside>
    </section>
</footer>
